body {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #FCB799;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  width: calc(100vw - 2em);
}

footer {
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
}

header > section {
  text-align: right;
}

header > svg {
  width: 4em;
  height: auto;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-style: italic;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form, form > label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

input, button {
  margin: 0.25em;
}

.modified-name, .length {
  font-weight: bold;
  color: rgb(247, 76, 0);
}